{
  auto_https off
  admin off
  default_sni Nuvrion.lab.sps
}

https://Nuvrion.lab.sps, https://10.0.0.100 {
  tls /etc/caddy/tls/Nuvrion.lab.sps.crt /etc/caddy/tls/Nuvrion.lab.sps.key
  reverse_proxy 127.0.0.1:4100
  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}

http://Nuvrion.lab.sps, http://10.0.0.100 {
  redir https://{host}{uri} permanent
}
